/* General */

#about h1, #contact h1, #services h1, #team h1 {
	text-transform: uppercase;
}

.section-header, .about-header, .contact-header {
	padding-bottom: 75px;
}

/* Intro Section */

#intro {
	background: url('../img/main.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}

#intro h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 70px;
}

#intro a {
	margin: 35px 15px
}

/*Services Section */

.services-section .service {
	transition: all 700ms ease 0s;
}

.services-section .service:hover {
	color: #18bc9c;
	cursor: pointer;
}

.service-icon {
	font-size: 55px;
	float: left;
	margin-right: 25px;
	width: 55px;
	line-height: 1;
}

.service {
	text-align: left;
	margin-bottom: 55px;
}

.service h4 {
	font-weight: 700;
}

.service p {
	color: #808080;
}

/* About Section */

/* Team Section */

.team-member .profile-pic {
	border-radius: 10%;
	width: 174px;
	height: 174px;
	margin: auto auto 25px;
	overflow: hidden;
}

.team-member .position {
	font-size: 13px;
	margin-top: 15px;
}

.team-member .social-icons {
	margin-bottom: 25px;
}

.team-member .social-icons ul {
	padding-left: 0px !important;
}

.team-member .social-icons ul li {
	display: inline-block;
	line-height: 32px;
	margin: 6px;
	list-style: outside none none;
}

.team-member .social-icons ul li a {
	font-size: 18px;
	color: #808080;
	transition: all 700ms ease 0s;
}

.team-member .social-icons ul li a:hover {
	font-size: 18px;
	color: #18bc9c;
}

.team-member {
	margin-top: 75px;
}

.member-details h4 {
	font-weight: 700;
}

/* Contact Section */

#contact {
	background: url('../img/3044867827_fa1c4b4303_o_copy.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}

#contact .container {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

#contact h1{
	font-weight: 700;
}

#contact input {
	font-weight: bold;
}

.form-textarea {
	margin-top: 25px;
}

.form-textarea textarea {
	font-size: 16px;
}

.form-button {
	margin: 15px;
	text-align: right;
}

/* Other pages */

#sub-intro ul {
	text-align: left;
	font-size: 16px;
}

#sub-intro p {
	text-align: right;
}

.sub-section h1 {
	margin-bottom: 25px;
}

/* Footer */

.footer-below a, .footer-contact a {
	text-decoration: none;
	color: #fff;
	transition: all 700ms ease 0s;
}

.footer-below a:hover, .footer-contact a:hover {
	color: #18bc9c;
}

.footer-contact p {
	font-size: 16px;
}